* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: grid;
  grid-template:
    "left-menu main right-menu" auto/
    auto 1fr auto;
  height: 100vh;
}
.left-menu {
  grid-area: left-menu;
}
.main {
  grid-area: main;
  background-color: rgba(0, 0, 255, 0.192);
}
.right-menu {
  grid-area: right-menu;
  background-color: rgba(0, 255, 0, 0.214);
}
.twotter-logo {
  width: 35px;
  margin: 1rem;
}
.nav-icon {
  width: 25px;
}
.nav-list {
  padding: 2rem;
  list-style: none;
}
.nav-list-item {
  display: grid;
  grid-template-columns: auto 1fr;
  text-decoration: none;
  gap: 0.5rem;
  padding: 1rem;

  color: black;
}
.lm-item-title {
  font-size: 1.2rem;
}
.tweet-btn {
  background-color: #1d9bf0;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 0.5rem 3rem;
  cursor: pointer;
  font-weight: 600;
}
/*Home*/
.user-profile-image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.new-tweet-form {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 0.5rem;
  padding: 0.5rem;
}
.home__tweet-btn {
  background-color: #1d9bf0;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 0.5rem 0.9rem;
  cursor: pointer;
  font-weight: 600;
}
.reacting-icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  /* padding: 0.5rem; */
}
.reacting-icon {
  width: 20px;
}
.tweet-image {
  width: 200px;
  border-radius: 15px;
}
.single-tweet {
  display: grid;
  grid-auto-flow: row;
  place-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.275);
}
